.button {
  display: inline-block;
  background-color: none;
  border-radius: 5px;
  padding: 8px 20px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  transition: var(--transition);
  border: 1px solid transparent;
  font-size: 14px;
  vertical-align: middle;
  border: 1px solid var(--color-primary);

  &.primary {
    background-color: var(--color-primary);
    color: var(--color-white);

    &:hover {
      background-color: var(--color-primaryHover);
    }
  }

  &.transparent {
    background-color: transparent;
    color: var(--color-primary);

    &:hover {
      background-color: var(--color-primary);
      color: var(--color-white);
    }
  }
}
