.root {
  max-width: 600px;
  margin: 20px auto;
  padding: 15px;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
}

.title {
  font-size: 24px;
  font-weight: 500;
  color: var(--color-primary);
}

.date {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;

  & > div {
    width: max-content;

    & > div {
      width: auto;
    }
  }
}

.inputDate {
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  color: var(--color-primary);
  padding-left: 10px;
  height: 36px;
}

.list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}
