:root {
  --color-primary: cadetblue;
  --color-primaryHover: rgb(97, 186, 189);
  --color-gray: rgb(197, 195, 195);
  --color-white: #fff;
  --color-blue: rgb(47, 50, 218);

  --box-shadow: 0px 5px 23px rgba(25, 81, 148, 0.3);

  --transition: all 0.2s ease;
}
